* {
  padding: 0px;
  margin: 0px;
  /* dit zorgt ervoor dat alles standaard zonder padding en margin is */
}

nav ul {
  list-style-type: none; /*zogt ervoor dat het er niet uit ziet als een list*/
  overflow: hidden;
  background-color: #ff7b00;
  /* styling voor de items in de navbar */
}

nav li {
  float: left;
  /* zorgt ervoor dat alle list itms in de nav aan de linker kant komen staan */
}
.logo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 100%;
  text-align: center;
  line-height: 55px;
  /* Een simpel logo voor de navbar */
}

nav li a {
  display: block; /* maakt van het item een rechthoek*/
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(17, 17, 17);
  transition: 1s;
  /* verranderd de achtergrond kleur van een list item als je er met je muis overheen gaat ìn een duur van een seconde */
}

main {
  margin-top: 5%;
  height: 100%;
  margin-inline: 100px;
  margin-bottom: 5%;
}

.introduction {
  height: 80vh;

  background-image: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../img/generic-user-image.jpg);
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../img/generic-user-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  align-items: center;
}

.tekst {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  margin-left: 10%;
}

.tekstvlak {
  height: 150px;
  width: 100%;
  background-color: #d9d9d9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verwijzing {
  margin-top: 8%;
  text-align: center;
}

.knophouder {
  margin-top: 3%;
  height: 100%;
  align-items: center;
}

.about-me-button {
  height: 100px;
  width: 100%;
  border: none;
  cursor: pointer;
  text-align: center;
  line-height: 100px;
}

.about-me-button :hover {
  background-color: #ff7b00;
  transition: 1s;
}

.test {
  height: 300px;
  padding: 10px;
  display: flex;
  flex-grow: 1;
  background-color: #d9d9d9;
  margin-bottom: 5%;
}

.test img {
  height: 100%;
  flex-grow: 1;
}

.test2 {
  height: 100%;
  flex-grow: 3;
  background-color: #d9d9d9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #dc6c03;
}

.contact-tekst {
  height: 100%;
  width: 100%;
  background-color: #d9d9d9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  height: 20px;
  width: 100%;
  background: #d58336;
}

.social-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
